.Weather {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(60, 60, 60);
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #06617a;
  background: white;
}
.Weather .form-control {
  border-color: #06617a;
}
.btn-primary {
  background-color: #06617a;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  list-style: none;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
}
.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  display: inline-block;
}
.Weather .helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.Weather .unit {
  display: inline-block;
  font-size: 16px;
  line-height: 64px;
  vertical-align: top;
}
